* {
    box-sizing: border-box;
}

body {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Alegreya Sans', sans-serif;
    background-color: whitesmoke;
}

header {
    margin: 0 auto;
    text-align: center;
}

fieldset {
    border: none;
}

.inputBook input,
.inputBook button {
    box-sizing: border-box;
    float: left;
    font-size: 18px;
    padding: 2px;
}

.inputBook h2 {
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.8em;
}

.title {
    text-decoration-line: underline;
}

#inputTitle {
    width: 80%;
}

#inputYear {
    width: 20%;
}

#inputAuthorLast,
#inputAuthorFirst {
    width: 50%;
}

#inputISBN {
    width: 50%;
}

#inputQty {
    width: 25%;
}

li {
    list-style: square;
    line-height: 2.5em;
}

.listEdit #delete, .listEdit #removeCopy {
    margin-left: 25px;
}

#delete:enabled {
    color: red;
}

.listEdit button {
    float: right;
    margin-bottom: 6px;
    margin-left: 4px;
    font-family: "Work Sans", sans-serif;
    font-size: .8em;
}

.listEdit fieldset {
    padding: 0;
    margin-right: 0;
}

table {
    font-family: "Work Sans", sans-serif;
    width: 100%;
    display: table;
    border-collapse: collapse;
}

thead {
    font-size: .85em;
    border: 1px solid gray;
}

th {
    padding-top: 4px;
    padding-bottom: 3px;
    border-right: 1px solid gray;
}

tbody {
    display: table-row-group;
}

td {
    font-size: .8em;
    padding: 5px 3px;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

tbody .author,
tbody .title {
    text-align: left;
    padding-left: 3px;
}

.stockList {
    background-color: white;
    box-shadow: 0px 2px 1px 0px rgba(150, 150, 150, 1);
    margin-top: 15px;
    padding: 10px;
}

.stockList h2 {
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 2px;
}

.inputBook {
    margin: 0 auto;
    background-color: lightgray;
    box-shadow: 0px 2px 1px 0px rgba(150, 150, 150, 1);
}

